*{
    margin: 0 auto;
}
body{
    background-color: #e1e0e0;
}
.wrapper{
    background-color: #e9e9e9;
    max-width: 80rem;

}
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

button{
    border: none;
    background-color: #e9e9e9;
}

button a{
    text-decoration: none;
    color: black;
}


header nav{
   max-width: 30rem;
}

.menu{
    display: flex;
}
.menu_item{
list-style: none;
}
.menu_link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.menu_link:hover{
    color: red;
    transition-duration: 0.5s;
}